In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv('data/Social_media_performance.csv')
df

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,sentiment_score,views,likes,comments,shares,engagement_rate,is_viral
0,1,LinkedIn,article,Technology,UR,BR,2025-04-25 09:47:00,#AI #Innovation #TechTrends #Programming #Codi...,0.76,37781,1202,462,185,0.0490,0
1,2,LinkedIn,poll,Health,FR,JP,2025-10-29 09:44:00,#Fitness #Nutrition #Wellness #Health #MentalH...,0.46,23541,1399,538,215,0.0915,1
2,3,LinkedIn,article,Travel,HI,FR,2025-02-10 14:12:00,#Travel #Journey #Adventure #Tourism #ExploreM...,-0.01,30714,1663,639,255,0.0833,1
3,4,LinkedIn,image,Sports,DE,DE,2025-04-18 22:41:00,#Cricket #Workout #Fitness,0.55,31294,1372,528,211,0.0675,0
4,5,LinkedIn,poll,Business,DE,US,2025-04-28 10:17:00,#Entrepreneur #Leadership #StartupLife,0.70,43129,2234,859,343,0.0797,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,YouTube,video,Food,PT,IN,2025-02-22 19:01:00,#Foodie #Cooking #Food #Recipe #FoodBlog #MustTry,-0.05,430376,39279,15107,6043,0.1404,1
9996,9997,YouTube,video,Technology,DE,US,2025-01-18 20:51:00,#Programming #DataScience #CodingLife #Innovat...,0.61,559223,12513,4812,1925,0.0344,0
9997,9998,YouTube,video,Entertainment,JA,IN,2025-08-12 20:58:00,#Funny #Viral #ShowBiz,0.78,833212,31796,12229,4891,0.0587,0
9998,9999,YouTube,video,Health,EN,DE,2025-04-27 19:04:00,#Wellness #Health #MentalHealth #Fitness #Nutr...,0.49,182707,15690,6034,2413,0.1321,1
9999,10000,YouTube,video,Health,UR,CA,2025-05-16 12:21:00,#Nutrition #MentalHealth #Health,-0.99,937825,33244,12786,5114,0.0545,0

In [4]:
df.shape

(10000, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   post_id          10000 non-null  int64
 1   platform         10000 non-null  object
 2   content_type     10000 non-null  object
 3   topic            10000 non-null  object
 4   language         10000 non-null  object
 5   region           10000 non-null  object
 6   post_datetime    10000 non-null  object
 7   hashtags         10000 non-null  object
 8   sentiment_score  10000 non-null  float64
 9   views            10000 non-null  int64
 10  likes            10000 non-null  int64
 11  comments         10000 non-null  int64
 12  shares           10000 non-null  int64
 13  engagement_rate  10000 non-null  float64
 14  is_viral         10000 non-null  int64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.1+ MB

In [6]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,sentiment_score,views,likes,comments,shares,engagement_rate,is_viral
0,1,LinkedIn,article,Technology,UR,BR,2025-04-25 09:47:00,#AI #Innovation #TechTrends #Programming #Codi...,0.76,37781,1202,462,185,0.0490,0
1,2,LinkedIn,poll,Health,FR,JP,2025-10-29 09:44:00,#Fitness #Nutrition #Wellness #Health #MentalH...,0.46,23541,1399,538,215,0.0915,1
2,3,LinkedIn,article,Travel,HI,FR,2025-02-10 14:12:00,#Travel #Journey #Adventure #Tourism #ExploreM...,-0.01,30714,1663,639,255,0.0833,1
3,4,LinkedIn,image,Sports,DE,DE,2025-04-18 22:41:00,#Cricket #Workout #Fitness,0.55,31294,1372,528,211,0.0675,0
4,5,LinkedIn,poll,Business,DE,US,2025-04-28 10:17:00,#Entrepreneur #Leadership #StartupLife,0.70,43129,2234,859,343,0.0797,0

In [7]:
df.tail()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,sentiment_score,views,likes,comments,shares,engagement_rate,is_viral
9995,9996,YouTube,video,Food,PT,IN,2025-02-22 19:01:00,#Foodie #Cooking #Food #Recipe #FoodBlog #MustTry,-0.05,430376,39279,15107,6043,0.1404,1
9996,9997,YouTube,video,Technology,DE,US,2025-01-18 20:51:00,#Programming #DataScience #CodingLife #Innovat...,0.61,559223,12513,4812,1925,0.0344,0
9997,9998,YouTube,video,Entertainment,JA,IN,2025-08-12 20:58:00,#Funny #Viral #ShowBiz,0.78,833212,31796,12229,4891,0.0587,0
9998,9999,YouTube,video,Health,EN,DE,2025-04-27 19:04:00,#Wellness #Health #MentalHealth #Fitness #Nutr...,0.49,182707,15690,6034,2413,0.1321,1
9999,10000,YouTube,video,Health,UR,CA,2025-05-16 12:21:00,#Nutrition #MentalHealth #Health,-0.99,937825,33244,12786,5114,0.0545,0

In [8]:
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
sentiment_score    0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
is_viral           0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.describe()

,post_id,sentiment_score,views,likes,comments,shares,engagement_rate,is_viral
count,10000.00000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,0.440221,212142.158100,15236.87470,5860.139600,2343.759700,0.112667,0.545700
std,2886.89568,0.452148,254526.880805,20450.03532,7865.396933,3146.163176,0.064301,0.497932
min,1.00000,-1.000000,116.000000,3.00000,1.000000,0.000000,0.008300,0.000000
25%,2500.75000,0.160000,30936.500000,1623.00000,624.000000,249.000000,0.061900,0.000000
50%,5000.50000,0.560000,78193.000000,5504.00000,2116.500000,846.500000,0.102000,1.000000
75%,7500.25000,0.780000,343206.750000,21467.25000,8256.250000,3302.500000,0.151925,1.000000
max,10000.00000,1.000000,999022.000000,116255.00000,44713.000000,17885.000000,0.300000,1.000000

In [11]:
df.describe(include='object')

,platform,content_type,topic,language,region,post_datetime,hashtags
count,10000,10000,10000,10000,10000,10000,10000
unique,4,8,10,8,10,9842,7946
top,LinkedIn,video,Lifestyle,UR,FR,2025-09-08 10:37:00,#Recipe #Food #Foodie
freq,2500,3007,1043,1287,1076,3,7

In [12]:
df['platform'].value_counts()

platform
LinkedIn     2500
Instagram    2500
Medium       2500
YouTube      2500
Name: count, dtype: int64

In [14]:
df['content_type'].value_counts()

content_type
video       3007
story       1787
article     1743
image        991
carousel     944
poll         525
reel         508
feed         495
Name: count, dtype: int64

In [15]:
df.groupby('platform')['views'].mean()

platform
Instagram    256789.6748
LinkedIn      25813.3636
Medium        49933.9504
YouTube      516031.6436
Name: views, dtype: float64